@font-face { font-family: ETBembo;
             src: url("/assets/css/0-tools/tufte/ETBembo-RomanLF.ttf"); }
@font-face { font-family: ETBembo;
             src: url("/assets/css/0-tools/tufte/ETBembo-DisplayItalic.ttf");
             font-weight: normal;
@import "0-tools/tufte/tufte";
@import "0-tools/tufte/latex";


